<section class="w-100 vh-100">
  <div class="container-fluid container-sm">
    <div class="row vh-100 justify-content-center align-items-center">
      <div class="card col-12 col-md-8 col-lg-6 py-5 text-center">
        <div class="py-2">
          <h1 class="fw-bold py-4">
            Modern <span class="orange">Fashion</span>
          </h1>
          <h1>Login</h1>
          <p class="alert alert-danger" *ngIf="error">{{ error }}</p>
        </div>
        <div class="py-5 d-flex justify-content-center align-items-center">
          <form class="col-md-7 m-auto" [formGroup]="loginForm">
            <div class="form-group mb-3 text-start">
              <label for="">Email</label>
              <input
                [class.is-invalid]="Email?.invalid && Email?.touched"
                formControlName="email"
                type="email"
                class="form-control"
              />
              <div *ngIf="Email?.invalid && Email?.touched">
                <p
                  *ngIf="Email?.errors?.['required'] "
                  class="text-danger p-2 my-1"
                >
                  email is required
                </p>
                <p
                  *ngIf="Email?.errors?.['pattern'] "
                  class="text-danger p-2 my-1"
                >
                  email must match this " example@gmail.com"
                </p>
              </div>
            </div>
            <div class="form-group mb-3 text-start">
              <label for="">Password</label>
              <input
                [class.is-invalid]="Password?.invalid && Password?.touched"
                formControlName="password"
                type="password"
                class="form-control"
              />
              <div *ngIf="Password?.invalid && Password?.touched">
                <p
                  *ngIf="Password?.errors?.['required'] "
                  class="text-danger p-2 my-1"
                >
                  password is required
                </p>
                <p
                  *ngIf="Password?.errors?.['pattern'] "
                  class="text-danger p-2 my-1"
                >
                  password must have 6 digit or more
                </p>
              </div>
            </div>
            <button
              (click)="seveData()"
              [disabled]="loginForm.invalid"
              type="submit"
              class="btn login my-3 w-100"
            >
              Login
            </button>
            <!-- <button
            (click)="fillForm()"
            class="btn login my-3 w-100"
          >
            fill
          </button> -->
            <p class="text-secondary fst-italic fw-bold">
              Create New Account?
              <a
                class="text-decoration-none orange"
                routerLink="/authentication/register"
                >Register Now!!</a
              >
            </p>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>
