<div class="justify-content-between" style="min-height: 100vh">
  <header>
    <app-navbar></app-navbar>
  </header>

  <main class="">
    <div class="d-flex flex-column">
      <div id="cover" class="row justify-content-center align-items-center">
        <h1 class="text-center text-white fw-bold">About</h1>
      </div>
    </div>

    <div class="container-fluid container-lg my-5">
      <div class="row justify-content-between">
        <div class="col-12 col-md-4">
          <img
            src="https://cdn.shopify.com/s/files/1/2672/5778/t/2/assets/about_story.jpg?v=81079471653385013921515692421"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="col-12 col-md-7 flex-wrap">
          <h2 class="text-secondary">Our story</h2>
          <br />
          Phasellus egestas nisi nisi, lobortis ultricies risus semper nec.
          Vestibulum pharetra ac ante ut pellentesque. Curabitur fringilla dolor
          quis lorem accumsan, vitae molestie urna dapibus. Pellentesque porta
          est ac neque bibendum viverra. Vivamus lobortis magna ut interdum
          laoreet. Donec gravida lorem elit, quis condimentum ex semper sit
          amet. Fusce eget ligula magna. Aliquam aliquam imperdiet sodales. Ut
          fringilla turpis in vehicula vehicula. Pellentesque congue ac orci ut
          gravida. Aliquam erat volutpat. Donec iaculis lectus a arcu facilisis,
          eu sodales lectus sagittis. Etiam pellentesque, magna vel dictum
          rutrum, neque justo eleifend elit, vel tincidunt erat arcu ut sem. Sed
          rutrum, turpis ut commodo efficitur, quam velit convallis ipsum, et
          maximus enim ligula ac ligula. Vivamus tristique vulputate ultricies.
          Sed vitae ultrices orci. <br />

          <p id="quote" class="py-5 px-5">
            “Creativity is just connecting things. When you ask creative people
            how they did something, they feel a little guilty because they
            didn't really do it, they just saw something. It seemed obvious to
            them after a while”. <br />
            <br />
            <span class="text-secondary fw-bold">- Steve Job`s</span>
          </p>
        </div>
      </div>
    </div>
  </main>

  <app-footer></app-footer>
</div>
