#cover {
  background-image: url('https://cdn.shopify.com/s/files/1/2672/5778/t/2/assets/about_top.jpg?v=24393269471667451341515692420');
  height: 280px;
  background-position: center;
  background-size: cover;
  width: 100%;
}
